doctype
html(lang="pt-br")
	head
		title= title

		// Meta Tags
		meta(charset='UTF-8')
		meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
		meta(name='viewport' content='width=device-width, user-scalable=no')
		meta(name='description' content='#{description}')
		
		// links
		link(rel='stylesheet' href='/stylesheets/app.css')

		// favicon
		link(rel='icon' type='image/png' href='/png?size=16x16&text=Image+generator')
	body

		block content
